

html {
    box-sizing: border-box;
    font-display: optional;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    color: #fff;

}

body {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;

}

h1 {
    background-color: #0b559b;
    color: snow;
    width: 100%;
    height: 15px;
    margin: 0;

}

.panel {
    margin: 0 1em;


}

.connection {
/*
    position: relative;
    border: 1px solid darkgrey;
    border-radius: 3px;
    margin: 1em 0;
    padding: 0em;
*/
}

#connect {
/*  position:absolute;
    right: 8em;
    top: 9em;
*/

}

button, input[type="submit"] {

    height: 2em;
    background-color: #b5c9e6;
    border: none;
    border-radius: 3px;

}

input[type="submit"] {
  /*
    width: 5em;
    height: 1.3em;
    font-size: 2rem;
*/
}

#form {
    border: 1px solid darkgrey;
    border-radius: 1px;
    margin: 0em 0;
    padding: 0.1em;


}

#text {
    width: calc(50% - 6em);
    font-size: 2rem;
    text-transform: uppercase;


}

.error #status {
    color: red;
}

.error #form {
    display: none;
}

.img-header{
  width: 100%;
  height: 60px;
  background-color: #fff;
  background-image: url(img/header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

}

div#blocklyDiv .blocklyToolboxDiv {
    background: #263238;
    color: #607D8B;
}
