

html {
    box-sizing: border-box;
    font-display: optional;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
    padding-left:  5px;
}

h1 {
    background-color: #03A9F4;
    color: snow;
    width: 100%;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 0px;

}

.panel {


}

.connection {

    position: relative;
    border: 1px solid darkgrey;
    border-radius: 3px;
    margin: 1em 0;
    padding: 0em;
  }

#connect {
/*  position:absolute;
    right: 8em;
    top: 9em;
*/

margin:  3px 3px 3px 3px;
background-color: #388E3C;
color: #fff;
font-weight: bold;
width: 120px;

}

button, input[type="submit"] {

    height: 2em;
    background-color: #b5c9e6;
    border: none;
    border-radius: 3px;

}

input[type="submit"] {
  /*
    width: 5em;
    height: 1.3em;
    font-size: 2rem;
*/
}

#form {
  /*
    border: 1px solid darkgrey;
    border-radius: 0px;
    margin: 0em 0;
    padding: 0.1em;
*/
}

#text {
    width: calc(50% - 6em);
    font-size: 2rem;
    text-transform: uppercase;

}

.error #status {

    color: red;
}

.error #form {
/*    display: none; */
}

.sendButton{
  margin:  3px 3px 3px 3px;
  background-color: #FFAB00;
  color: #fff;
  font-weight: bold;
  width: 120px;
}

.deleteButton{
  margin:  3px 3px 3px 3px;
  background-color: #0097A7;
  color: #fff;
  font-weight: bold;
  width: 120px;
}

.saveButton{
  margin: 3px 3px 3px 3px;
  background-color: #1976D2;
  color: #fff;
  font-weight: bold;
  width: 120px;

}

.saveSessionButton{
  margin:  3px 3px 3px 3px;
  background-color: #F57C00;
  color: #fff;
  font-weight: bold;
  width: 120px;
}

.openButton{
  margin: 3px 3px 3px 3px;
  background-color: #7B1FA2;
  color: #fff;
  font-weight: bold;
  width: 120px;
}

.restoreSessionButton{
  margin:  3px 3px 3px 3px;
  background-color: #D81B60;
  color: #fff;
  font-weight: bold;
  width: 120px;
}

.img-header{
  width: 100%;
  height: 60px;
  background-color: #fff;
  background-image: url(img/header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

}

div#blocklyDiv .blocklyToolboxDiv {
    background-color: #263238;
    color: #607D8B;
    font-weight: bold;


}
